APP_ENV=prod
APP_SECRET=change_me
APP_SHARE_DIR=var/share

DEFAULT_URI=http://localhost
DATABASE_URL="sqlite:///%kernel.project_dir%/var/data.db"

PHOTOS_DIR="/path/to/photos"
API_KEY=change_me
USER_KEYS=legacy

CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
