/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/vendor/
/var/
/public/bundles/
/public/uploads/
/node_modules/
/.phpunit.cache/
/.phpunit.result.cache
/phpstan-result-cache.php
/composer.phar
/npm-debug.log
/yarn-error.log
/.idea/
/.vscode/
*.log
*.db
*.sqlite
*.sqlite3
*.pem
*.key
