<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="test"/>
        <env name="APP_SECRET" value="test_secret"/>
        <env name="APP_SHARE_DIR" value="var/share"/>
        <env name="DEFAULT_URI" value="http://localhost"/>
        <env name="DATABASE_URL" value="sqlite:///%kernel.project_dir%/var/data.db"/>
        <env name="PHOTOS_DIR" value="var/photos"/>
        <env name="API_KEY" value="test_token"/>
        <env name="USER_KEYS" value="legacy,test"/>
        <env name="CORS_ALLOW_ORIGIN" value="^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$"/>
    </php>
</phpunit>
